<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title tn:text="${tituloListar}"></title>
</head>
<body>

	<h1 th:text="${tituloListar}"></h1>

	<div th:if="${usuarios.isEmpty()}">no hay usuarios registrados
		en la lista!</div>

	<table th:if="${! usuarios.isEmpty()}">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="usuario: ${usuarios}">
				<td th:text="${usuario.nombre}"></td>
				<td th:text="${usuario.apellido}"></td>
				<td th:text="${usuario.email}"></td>

			</tr>
		</tbody>

	</table>

</body>
</html>